In [2]:
from datascience import *

In [3]:
Table().with_columns('Number of petals',make_array(8,9,10))

Number of petals
8
9
10

In [4]:
flowers = Table().with_columns('Number of petals', make_array(8, 34, 5),
                               'Name', make_array('lotus', 'sunflower', 'rose'))
flowers.with_columns('Color', make_array('pink', 'yellow', 'red'))

Number of petals | Name      | Color
8                | lotus     | pink
34               | sunflower | yellow
5                | rose      | red