In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
df = pd.read_excel("F:/testing/list 1 modified.xlsx")
df

      Year          Title          Genre
0      2000       Aaghaaz       Thriller
1      2000  Aaj Ka Ravan          Drama
2      2000       Anjaane        Romance
3      2000   Anokha Moti         Family
4      2000  Apradhi Kaun       Thriller
...     ...           ...            ...
1784   2016     Kahaani 2       Thriller
1785   2016       Befikre        Romance
1786   2016  Wajah Tum Ho  Romance/drama
1787   2016        Dangal         Biopic
1788   2017           NaN            NaN

[1789 rows x 3 columns]

In [47]:
df.explode('Genre')
df

      Year         Title          Genre
0     2000       Aaghaaz       Thriller
1     2000  Aaj Ka Ravan          Drama
2     2000       Anjaane        Romance
3     2000   Anokha Moti         Family
4     2000  Apradhi Kaun       Thriller
...    ...           ...            ...
1784  2016     Kahaani 2       Thriller
1785  2016       Befikre        Romance
1786  2016  Wajah Tum Ho  Romance/drama
1787  2016        Dangal         Biopic
1788  2017           NaN            NaN

[1789 rows x 3 columns]

In [35]:
df['Genre'].

2

In [16]:
df.join(s.apply(lambda x: Series(x.split(':'))))

pandas.core.series.Series

In [30]:
df.value_counts('Genre')

Genre
Drama                      264
Comedy                     207
Romance                    142
Thriller                   135
Action                      86
                          ...
Drama, Action, Thriller      1
Drama Thriller               1
Docudrama                    1
Dance/drama                  1
romantic comedy              1
Length: 404, dtype: int64